
//direct "brand"
@grid-gutter-width: 10px; //overrides bootstrap
@vertical-gutter: 10px;
@base-padding: 10px;
@border-radius: 2px;
@primary-border-color: #cecece;
@subheader-background: #eee;
@main-container-background: #eee;

// breakpoints from bootstrap
// in case you need them separately
// or want to override
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

//buttons
@brand-primary:         #08c;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

// risk colors
@dnb-risk-color-low:	#30A567;
@dnb-risk-color-med:	#CFB12D;
@dnb-risk-color-high:	#CF0000;

.dnb-risk-color-low { color: @dnb-risk-color-low; }
.dnb-risk-color-med { color: @dnb-risk-color-med; }
.dnb-risk-color-high { color: @dnb-risk-color-high; }

.with-shadow {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

body {
	color: #4B4B4B;
	font: normal 14px "Open Sans", sans-serif;
	background: #ccc;
	line-height: 20px;
}

.nav-container {
	padding-top: @vertical-gutter;
	padding-left: 0;
}

.main-container {
	padding: @base-padding;
	background: @main-container-background;
	border: 1px solid #dddddd;
	border-top: 0;
	.with-shadow();
}


a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

.brand-header {
	background: #003174;
	border-bottom: 10px solid #eee;
	color: #fff;
	h1 {
		font: normal 20px helvetica, arial, sans-serif;
		padding-top: 4px;
		margin-left: @base-padding;
	}
	.container {
		
	}
	.container .logo {
		float: left;
		width: 52px;
		height: 52px;
		margin: @base-padding;
		@media(min-width:@screen-sm) {
			margin-left: 0;
		}
		border: 1px solid #fff;
		background: url(../img/logo-dnb.gif) 0 0 no-repeat;
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #eee;
}

.primary-widget-colors {
	border: 1px solid #cecece;
	background: #fff;
	box-shadow: 1px 1px 2px #fff;
}

.primary-widget-header-colors {
	background: #eee;
	color: #003174;
	border: 2px solid #fff;
}

// .primary-widget-header-text and
// .primary-widget-alt-header-text look redundant 
// but some brands require very different styles

.primary-widget-header-text {
	font: normal 1.8em rokkitt, sans-serif;
	padding: 0;
	margin: 0;
}

.primary-widget-alt-header-text {
	font: normal 1.8em rokkitt, sans-serif;
	padding: 0;
	margin: 0;	
}

.dnb-company-name {
	color: #333;
	font: normal 28px rokkitt, sans-serif;
	font-weight: bold;
	padding: @base-padding ;
	text-align: center;
	// @media(min-width:@screen-md) {
	// 	margin-left: @base-padding;
	// 	margin-right: @base-padding;
	//}
}

.dnb-company-name h1 {
	padding: 0;
	margin: 0;
}

.bignumber {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.2em;
}

.dnb-widget-mini-datanotavailable {
	.dnb-widget-bignumber {
		color: #ccc;
	}
}

.dnb-widget-industry {
	dd {
		&:hover {
			background-color: @subheader-background;
		}
	}
	dd.primary-industry {
		background: @subheader-background;
	}
}

.dnb-widget-key-people .dnb-widget-content {
	p {
		font-size: 12px;
		line-height: 14px;
	}
}