//-D&B 360 Brand

@grid-gutter-width: 10px; //overrides bootstrap
@vertical-gutter: 10px;
@base-padding: 10px;
@border-radius: 0;
@primary-border-color: #cacaca;
@subheader-background: #dae5ef;
@main-container-background: #eee;

// breakpoints from bootstrap
// in case you need them separately
// or want to override
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

//buttons
@brand-primary:         #08c;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@link-color:			#3e6c8e;

// risk colors
@dnb-risk-color-low:	#30A567;
@dnb-risk-color-med:	#CFB12D;
@dnb-risk-color-high:	#CF0000;

.dnb-risk-color-low { color: @dnb-risk-color-low; }
.dnb-risk-color-med { color: @dnb-risk-color-med; }
.dnb-risk-color-high { color: @dnb-risk-color-high; }

.with-shadow {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

body {
	color: #3a4a5c;
	font: normal 13px "Open Sans", sans-serif;
	background: #e2e4e6;
	line-height: 20px;
}

.nav-container {
	padding-top: @vertical-gutter;
	padding-left: 0;
}

.main-container {
	padding: @base-padding;
	background: @main-container-background;
	border: 1px solid #dddddd;
	border-top: 0;
	.with-shadow();
}


a {
	color: @link-color;
	text-decoration: none;
}

a:hover {
	color: lighten(@link-color,20%);
	text-decoration: underline;
}

.brand-header {
	background: #069;
	border-bottom: 1px solid #fff;
	color: #fff;
	h1 {
		font: normal 20px helvetica, arial, sans-serif;
		padding-top: 4px;
		margin-left: @base-padding;
	}
	.container {
		
	}
	.container .logo {
		float: left;
		margin: @base-padding;
		@media(min-width:@screen-sm) {
			margin-left: 0;
		}
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #eee;
}

.primary-widget-colors {
	background: #f6f6f6;
	border: 1px solid @primary-border-color;
	box-shadow: inset 0 1px 0 #fff;
}

.primary-widget-header-text {
	font: normal 20px "Open Sans", sans-serif;
	line-height: 16px;
	padding: 0;
	margin: 0;
	text-shadow: 0 1px 0 #fff;
}

// .primary-widget-header-text and
// .primary-widget-alt-header-text look redundant 
// but some brands require very different styles

.primary-widget-header-colors {
	background: #81aed1;
	color: #fff;
	box-shadow: inset 0 1px 0 #8fbcdf;
	border: 1px solid #749cb1;
}

.primary-widget-alt-header-text {
	padding: 0;
	margin: 0;
	font: normal 20px "Open Sans", sans-serif;
	text-shadow: 0 1px 0 #618daf;
}

.dnb-company-name {
	color: #333;
	font: normal 28px rokkitt, sans-serif;
	font-weight: bold;
	padding: @base-padding;
	text-align: center;
	// @media(min-width:@screen-md) {
	// 	margin-left: @base-padding;
	// 	margin-right: @base-padding;
	//}
}

.dnb-company-name h1 {
	padding: 0;
	margin: 0;
}

.bignumber {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.2em;
	text-shadow: 0 1px 0 #fff;
}

.dnb-widget-mini-datanotavailable {
	.dnb-widget-bignumber {
		color: #ccc;
		text-transform: uppercase;
	}
}

.dnb-widget-industry {
	dd {
		#gradient > .vertical(#fdfdfd,#f3f3f3);
		box-shadow: inset 0 1px 0 white;
		&:hover {
			background: @subheader-background;
		}
	}
	dd.primary-industry {
		background: @subheader-background;
	}
}

.dnb-widget-list li {
	#gradient > .vertical(#fdfdfd,#f3f3f3);
	box-shadow: inset 0 1px 0 white;
}

.dnb-widget-key-people {
	h4 {
		margin-bottom: @vertical-gutter/2;
	}
	p {
		font-size: 12px;
		line-height: 14px;
	}
}