
//HOOVERS BRAND

@grid-gutter-width: 10px; //overrides bootstrap
@vertical-gutter: 10px;
@base-padding: 10px;
@border-radius: 0;
@primary-border-color: #c2c6ca;
@subheader-background: #dfdac8;
@table-border: #a6c6ea;
@table-bg: #fff;
@table-stripe: #f0f7fe;
@main-container-background: #eee;

// breakpoints from bootstrap
// in case you need them separately
// or want to override
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

//buttons
@brand-primary:         #08c;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

// risk colors

@dnb-risk-color-low:	#30A567;
@dnb-risk-color-med:	#CFB12D;
@dnb-risk-color-high:	#CF0000;

.dnb-risk-color-low { color: @dnb-risk-color-low; }
.dnb-risk-color-med { color: @dnb-risk-color-med; }
.dnb-risk-color-high { color: @dnb-risk-color-high; }

.with-shadow {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

body {
	color: #4B4B4B;
	font: normal 12px Verdana, sans-serif;
	background: #f3f3f3;
	line-height: 20px;
}

.nav-container {
	padding-top: @vertical-gutter;
	padding-left: 0;
}

.main-container {
	padding: @base-padding;
	background: @main-container-background;
	border: 1px solid #dddddd;
	border-top: 0;
	.with-shadow();
}


a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

.brand-header {
	#gradient > .vertical(#24537C,#07406B);
	color: #333;
	h1 {
		font: normal 20px helvetica, arial, sans-serif;
		padding-top: 4px;
		margin-left: @base-padding;
	}
	.container {
		
	}
	.container .logo {
		float: left;
		width: 100px;
		height: 72px;
		margin: @base-padding;
		@media(min-width:@screen-sm) {
			margin-left: 0;
		}
		background: url(../img/logo-hoovers.png) 0 0 no-repeat;
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #eee;
}

.primary-widget-colors {
	border: 1px solid #c2c6ca;
	background: #fff;
}

//this is the alt header color with a header bar
.primary-widget-header-colors {
	#gradient > .vertical(#fff, #eee);
	color: #23272e;
	border-bottom: 1px solid #c2c6ca;
}


// .primary-widget-header-text and
// .primary-widget-alt-header-text look redundant 
// but some brands require very different styles

.primary-widget-header-text {
	font: bold 16px Helvetica, Arial, serif;
	padding: 0;
	margin: 0;

}
.primary-widget-alt-header-text {
	font: bold 16px Helvetica, Arial, serif;
	padding: 0;
	margin: 0;	
}

//WIDGETS - MINI: Big numbers
.bignumber {
	font: bold 32px Helvetica, Arial, sans-serif;
	line-height: 1.2em;
}

//WIDGETS - ALL: Data Not Available
.dnb-widget-mini-datanotavailable {
	.dnb-widget-bignumber {
		color: #ccc;
	}
}

//WIDGET: Industry
.dnb-widget-industry {
	dd.primary-industry {
		background: @subheader-background;
	}
}

//WIDGET: Key People
.dnb-widget-key-people {
	p {
		font-size: 12px;
		line-height: 15px;
	}
}

//SEARCH RESULTS table listing
table.dnb-search-results {
	border: 1px solid @table-border;
	border-bottom-width: 0;
	border-collapse: separate;
	thead {
		th {
			border-left: 1px solid #fff;
			border-right: 1px solid #a6c6ea;
			border-bottom: 1px solid @table-border;
			#gradient > .vertical(#d9e9fa,#a6c6ea);
			color: #002a59;
			text-align: center;
			&:first-child {
				border-left: 0;
			}
		}
		th.results-main-info {
			text-align: left;
		}
	}
	tbody {
		border-collapse: collapse;
		td {
			vertical-align: middle;
			text-align: center;
			border-bottom: 1px solid @table-border;
			background: @table-bg;
		}
		td.results-main-info {
			text-align: left;
		}
		tr.even td {
			background: @table-stripe;
		}
		h4 {
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
}