// widget with a list inside
.dnb-widget-list .dnb-widget-content {
	overflow-y: scroll;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: block;
			padding: @base-padding;
			border: 1px solid @primary-border-color;
			margin-bottom: @vertical-gutter;
			&:last-child {
				border-bottom-width: 1px;
			}
			&:hover {
				cursor: pointer;
				background: @subheader-background;
			}
		}
	}
}