.dnb-widget-industry {
	dt {
		font-weight: bold;
		color: @link-color;
		margin-bottom: @vertical-gutter;
	}
	dd {
		display: block;
		padding: @base-padding;
		border: 1px solid @primary-border-color;
		border-bottom-width: 0;
		&:last-child {
			border-bottom-width: 1px;
			margin-bottom: @vertical-gutter;
		}
		&:hover {
			cursor: pointer;
		}
		span.dnb-industry-code {
			font-weight: bold;
			margin-right: @base-padding/2;
		}
	}
	dd.primary-industry {
		border-bottom-width: 1px;
		margin-bottom: @vertical-gutter;
	}
	.dnb-widget-content {
		overflow-y: scroll;
	}
}