@import "bootstrap/bootstrap.less";
@import "brands/direct.less";
@import "components/company-info.less";
@import "components/widget-general.less";
@import "components/widget-general-list.less";
@import "components/widget-mini-employees.less";
@import "components/widget-mini-revenue.less";
@import "components/widget-mini-market-value.less";

// CSS For Twitter Typeahead
@import "lib/twitter_typeahead.less";


body {
  background: #fff;
}

#searchContainer, .main-container, .branded-logo {
	margin-top: @vertical-gutter;
}

#searchContainer {
    margin-bottom: @vertical-gutter;
}

.dnb-details-table {
    margin-top:10px;
}

.dnb-details-table>.table>tbody>tr:first-child>td {
    border-top: none;
}

.dnb-company-info-box .dnb-widget-inner {
	min-height: 84px;
}

.dnb-images-tagline {
  .make-sm-column(12);
  text-align: center;
}

.dnb-widget-mini-row {
	.dnb-widget-mini {
		.make-xs-column(6);
		.dnb-widget-inner {
			min-height: 112px;
		}
	}
}

.dnb-widget-row-main {
	margin-bottom: @vertical-gutter;
	.dnb-widget {
		.make-sm-column(6);
		.dnb-widget-inner {
			min-height: 100px;
			height: 400px;
		}
	}
}

.dnb-widget-description .dnb-widget-content {
	overflow-y: scroll;
}

.dnb-widget-mini .dnb-widget-bignumber {
  .bignumber();
  font-size: 24px;
  @media screen and (min-width: @screen-xs) {
    font-size: 36px;
  }
}

#imageDiv {
	display: none;
	margin-bottom: @vertical-gutter;
}

.company-image-col {
	float: none;
	margin: 0 auto;
}

#map-canvas {
	height: 330px;
    width: 100%;
}

.toggle-nav {
	margin-top: @vertical-gutter*4;
}

.tab-content {
	margin-top: 0;
}

.dnb-details p.score-description {
    margin-right: 100px;
    margin-bottom: 1em;
}

.active-score {
    background: #fff;
}

/* Taken from Viability APP */

.dnb-badge-stack {
    position: relative;
    width: 80px;
    height: 45px;
    text-align: center;
    margin: 0 0 0 40px;
}

.dnb-badge-stack>* {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
}

.dnb-badge {
    color: #30a567;
    font-size: 70px;
    line-height: 60px;
}

.dnb-badge-label {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 72px;
    top: -16px;
}

.dnb-badge::after {
    font-family: 'DejaVu';
    content: '\002B22';
}

.dnb-badge-yellow {
    color: #f7b41f;
}

.dnb-badge-red {
    color: #da736d;
}

.scores-table tbody tr td {
    vertical-align: middle;
    border-top: 0;
}

.scores-table tr td:first-child {
    width: 40%;
}

.dnb-risk-gradient {
    border: 1px solid #cacaca;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 2px;
    width: 90%;
    position: relative;
    top:5px;
    display:inline-block;
}

.dnb-risk-gradient-inner {
    background: #da736d;
    background: -moz-linear-gradient(left,  #da736d 0%, #f7b41f 50%, #30a567 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#da736d), color-stop(50%,#f7b41f), color-stop(100%,#30a567));
    background: -webkit-linear-gradient(left,  #da736d 0%,#f7b41f 50%,#30a567 100%);
    background: -o-linear-gradient(left,  #da736d 0%,#f7b41f 50%,#30a567 100%);
    background: -ms-linear-gradient(left,  #da736d 0%,#f7b41f 50%,#30a567 100%);
    background: linear-gradient(to right,  #da736d 0%,#f7b41f 50%,#30a567 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da736d', endColorstr='#30a567',GradientType=1 );*/
    border-radius: 2px;
    height: 20px;
}

.dnb-risk-gradient-badge-container {
    position: absolute;
    top: 0;
    left: 100%;
}

.dnb-risk-gradient-badge {
    position: absolute;
    top: -5px;
    left: -15px;
    color: #333333;
    font-size: 30px;
    line-height: 30px;
    width: 30px;
}

.dnb-risk-gradient-badge::after {
    font-family: 'DejaVu';
    content: '\002B22';
}

.dnb-risk-gradient-badge-label {
    top: 2px;
    text-align: center;
    position: absolute;
    left: -2px;
    width: 30px;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}

.dnb-details-large {
   display: none;
}


.dnb-loading {
    background: transparent url(../img/ajax_big_loader.gif) center center no-repeat;
    min-height: 50px;
}

.dnb-loading-offset {
    background-image: transparent;
    background: url(../img/ajax_big_loader.gif);
    background-position: calc(100% - @base-padding) center;
    background-repeat: no-repeat;

    min-height: 50px;
}

.score-evaluation {
    border-radius: @border-radius-small;
    background: @well-bg;
    border: 1px solid @well-border;
    padding: @base-padding;
    clear: right;
    font-size: 1.1em;
    line-height: 1.5em;
}

@font-face {
    font-family: 'DejaVu';
    src: url('../fonts/dejavusans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans-webfont.woff') format('woff'),
         url('../fonts/dejavusans-webfont.ttf')  format('truetype'),
         url('../fonts/dejavusans-webfont.svg#svgFontName') format('svg'); 
}