{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>D&amp;B Direct - SparkLab Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}common_login/lib/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}common_login/css/login.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="wrap">
                <div class="row">
                    <div class="col-xs-12" style="text-align: center;">
                        <div style="display:inline-block; text-align:left;">
                            <h1>D&amp;B Demo Login<small> Developed by the D&amp;B SparkLab</small></h1>
                            <p>{% block subtext %}{% endblock %}</p>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
        </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ STATIC_URL }}common_login/lib/jquery/1.10.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ STATIC_URL }}common_login/lib/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>

{% endspaceless %}