{% extends 'common_login/base.html' %}

{% block head %}
    {% if api and show_user_form %}
        <link rel="stylesheet" href="{{ STATIC_URL }}common_login/lib/font-awesome/css/font-awesome.min.css">
    {% endif %}
{% endblock %}

{% block subtext %}Please login below to access the app.  If you do not have a login, contact the <a href="mailto:sparklab@dnb.com">SparkLab</a>.{% endblock %}

{% block content %}
{% if api and show_user_form %}
{# API AND USER LOGIN SUPPORT #}
<div id="loginButtonContainer">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" id="loginWithUserBtn" class="btn btn-primary btn-lg login-btn"><i class="fa fa-user"></i>Login with App Username</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" id="loginWithKeyBtn" class="btn btn-primary btn-lg login-btn"><i class="fa fa-key"></i>Login with Direct API Key</button>
        </div>
    </div>
</div>

<div id="usernameForm">
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <form method="post" action="">
                {% csrf_token %}
                {% if form.errors and not form.api_login_errors %}
                <p class="text-danger">Your credentials were invalid, please try again.</p>
                {% endif %}
            <div class="form-group"><input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Username"/></div>
            <div class="form-group"><input id="id_password" maxlength="254" name="password" type="password" class="form-control" placeholder="Password"/></div>
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary back-btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
                <div class="col-xs-9" style="text-align:right;">
                    {% if ENABLE_PASSWORD_RESET_EMAIL %}
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    {% endif %}
                    <input type="submit" value="Login" class="btn btn-large btn-success btn-login" style="margin-left:10px;"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

{% if api == 'direct1' %}
<div id="apiForm">
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <form method="post" action="">
                {% csrf_token %}
                {% if form.errors and form.api_login_errors %}
                <p class="text-danger">Your credentials were invalid, please try again.</p>
                {% endif %}
            <div class="form-group"><input id="direct1ApiKey" maxlength="254" name="api_key" type="text" class="form-control" placeholder="D&amp;B Direct 1 API Key"/></div>
            <div class="form-group"><input id="direct1User" maxlength="254" name="username" type="text" class="form-control" placeholder="D&amp;B Direct 1 API Username"/></div>
            <div class="form-group"><input id="direct1Pass" maxlength="254" name="password" type="password" class="form-control" placeholder="D&amp;B Direct 1 API Password"/></div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary back-btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
                <div class="col-xs-6" style="text-align:right;">
                    <input type="submit" name="direct1" value="Login" class="btn btn-large btn-success btn-login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endif %}

{% if api == 'direct2' %}
<div id="apiForm">
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <form method="post" action="">
                {% csrf_token %}
                {% if form.errors and form.api_login_errors %}
                <p class="text-danger">Your credentials were invalid, please try again.</p>
                {% endif %}
            <div class="form-group"><input id="direct2User" maxlength="254" name="x_dnb_user" type="text" class="form-control" placeholder="D&amp;B Direct 2 API Key"/></div>
            <div class="form-group"><input id="direct2Pass" maxlength="254" name="x_dnb_pwd" type="password" class="form-control" placeholder="D&amp;B Direct 2 API Password"/></div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary back-btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
                <div class="col-xs-6" style="text-align:right;">
                    <input type="submit" name="direct2" value="login" class="btn btn-large btn-success btn-login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endif %}
{# END API AND USER LOGIN SUPPORT #}

{% elif api %}
{# API LOGIN ONLY #}
{% if api == 'direct1' %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors and form.api_login_errors %}
            <p class="text-danger">Your credentials were invalid, please try again.</p>
            {% endif %}
        <div class="form-group"><input id="direct1ApiKey" maxlength="254" name="api_key" type="text" class="form-control" placeholder="D&amp;B Direct 1 API Key"/></div>
        <div class="form-group"><input id="direct1User" maxlength="254" name="username" type="text" class="form-control" placeholder="D&amp;B Direct 1 API Username"/></div>
        <div class="form-group"><input id="direct1Pass" maxlength="254" name="password" type="password" class="form-control" placeholder="D&amp;B Direct 1 API Password"/></div>
        <div class="row">
             <div class="col-xs-12" style="text-align:right;">
                <input type="submit" name="direct1" value="Login" class="btn btn-large btn-success btn-login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
        </form>
    </div>
</div>
</div>
{% endif %}

{% if api == 'direct2' %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors and form.api_login_errors %}
            <p class="text-danger">Your credentials were invalid, please try again.</p>
            {% endif %}
        <div class="form-group"><input id="direct2User" maxlength="254" name="x_dnb_user" type="text" class="form-control" placeholder="D&amp;B Direct 2 API Key"/></div>
        <div class="form-group"><input id="direct2Pass" maxlength="254" name="x_dnb_pwd" type="password" class="form-control" placeholder="D&amp;B Direct 2 API Password"/></div>
        <div class="row">
            <div class="col-xs-12" style="text-align:right;">
                <input type="submit" name="direct2" value="login" class="btn btn-large btn-success btn-login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
        </form>
    </div>
</div>
</div>
{% endif %}
{# END API-LOGIN ONLY#}

{% else %}
{# USER LOGIN ONLY #}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors and not form.api_login_errors %}
            <p class="text-danger">Your credentials were invalid, please try again.</p>
            {% endif %}
        <div class="form-group"><input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Username"/></div>
        <div class="form-group"><input id="id_password" maxlength="254" name="password" type="password" class="form-control" placeholder="Password"/></div>
        <div class="row">
            <div class="col-xs-12" style="text-align:right;">
                {% if ENABLE_PASSWORD_RESET_EMAIL %}
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                {% endif %}
                <input type="submit" value="Login" class="btn btn-large btn-success btn-login" style="margin-left:10px;"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
        </form>
    </div>
</div>
</div>
{# END USER LOGIN#}
{% endif %}


{% endblock %}

{% block script %}
<script>
    $(function() {
{% if api and show_user_form %}
// Start button behavior
        var $apiForm = $('#apiForm');
        var $usernameForm = $('#usernameForm');
        var $loginButtonCtn = $('#loginButtonContainer');

        $('#loginWithUserBtn').click(function (){
            $('#loginButtonContainer').fadeOut('fast', function(){
                $('#usernameForm').fadeIn('fast');
                $('#id_username').focus();
            });
        });

        $('#loginWithKeyBtn').click(function (){
            $('#loginButtonContainer').fadeOut('fast', function(){
                $('#apiForm').fadeIn('fast');
                $('#direct1ApiKey').focus();
                $('#direct2User').focus();
            });
        });

        $('.back-btn').click(function (){
            var $ele = $('#apiForm');
            if(!$ele.is(':visible'))
                $ele = $('#usernameForm');

            $ele.fadeOut('fast', function(){
                $('#loginButtonContainer').fadeIn('fast');
            });
        });

{% if form.errors %}
        $loginButtonCtn.hide();
    {% if form.api_login_errors %}
        $usernameForm.hide();
    {% else %}
        $apiForm.hide();
    {% endif %}
{% else %}
        $apiForm.hide();
        $usernameForm.hide();
{% endif %}

// End button behavior
{% else %}
        $('#id_username').focus();
        $('#direct1ApiKey').focus();
        $('#direct2User').focus();
{% endif %}
    });
</script>


{% endblock %}
