{% extends 'common_login/base.html' %}

{% block subtext %}Forgotten your password?  Enter your email address beow, and we'll email instructions for setting a new one.{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <form method="post" action="">
                {% csrf_token %}
                {% if form_errors %}
                <p class="text-danger">The provided email address does not match an existing user.</p>
                {% endif %}
            <div class="form-group"><input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="Email Address"/></div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="submit" value="Send Password Reset Link" class="btn btn-large btn-primary btn-login" />
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
{#    <div class="row"><div class="col-sm-8 col-sm-offset-2"><p>If you do not know your email, or do not have an account, contact the <a href="mailto:sparklab@dnb.com">SparkLab</a>.</p></div></div>#}
{% endblock %}