{% extends 'common_login/base.html' %}

{% block subtext %}Thank you, your password has been set.  You can now use your new password to <a href="{% url 'login' %}">Log in</a>.{% endblock %}
{##}
{#{% block content %}#}
{#<div class="row"><div class="col-sm-8 col-sm-offset-2 alert alert-info">You can now use your new password to <a href="{% url 'login' %}">Log in</a>.</div></div>#}
{#{% endblock %}#}