{% extends 'common_login/base.html' %}

{% block subtext %}Please enter a new password below.{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <form method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                <p class="text-danger">The passwords did not match, please try again.</p>
                {% endif %}
            <div class="form-group"><input id="id_new_password1" name="new_password1" type="password" class="form-control" placeholder="New Password"/></div>
            <div class="form-group"><input id="id_new_password2" name="new_password2" type="password" class="form-control" placeholder="Confirm New Password"/></div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="submit" value="Set Password" class="btn btn-large btn-primary btn-login" />
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}