{% extends 'common_login/base.html' %}

{% block subtext %}Thank you, your password reset link has been sent.{% endblock %}

{% block content %}
<div class="row"><div class="col-sm-8 col-sm-offset-2 alert alert-info">You should receive an email shortly.

If you don't receive the email, please check your spam folder.</div></div>
{% endblock %}