<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rokkitt|Open+Sans:400,600">
    <link rel="icon" href="http://dnb.com/favicon.ico" type="image/x-icon" />
    <link href="{{ STATIC_URL }}lib/bootstrap/3.0.3/css/{{ theme }}/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/swipebox/swipebox.css">
    <link href="{{ STATIC_URL }}credit_widget/css/risk-widget.css" rel="stylesheet" type="text/css" charset="utf-8">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% if not logo %}
    <div class="brand-header">
      <div class="container">
        <div class="logo"></div>
        <div class="row">
          <h1>{{ title }} <small>Direct 2.0 Demo</small></h1>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container branded-logo">
        <div class="row"><img src="{{ logo }}" alt="Company Logo" style="max-width:300px; max-height:70px;"></div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6" id="searchContainer">
                <input type="text" class="form-control" id="companyField" placeholder="Company Name or Keyword(s)">
            </div>
        </div>
    </div>


    <!-- ko if: companyInfo.status() == 'done' -->
    
    <div class="container main-container" data-bind="css: { 'dnb-loading-offset': companyDetails.status() == 'loading' }">
        <div class="dnb-company-header">
            <div class="dnb-company-name">
                <h1><span data-bind="text: companyInfo.data().OrganizationName">[Company Name]</span></h1>
            </div>
        </div>
        <!-- ko if: companyDetails.status() == 'done' -->
        <div class="dnb-company-info">
            <div class="dnb-company-info-box dnb-widget">
                <div class="dnb-widget-inner">
                    <div class="dnb-widget-content">
                        <ul>
                            <li><span data-bind="text: companyInfo.data().Street">[Street]</span></li>
                            <li><span data-bind="text: companyInfo.data().City">[City]</span>, <span data-bind="text: companyInfo.data().Territory">[Territory]</span> <span data-bind="text: companyInfo.data().PostalCode">[Postal Code]</span></li>
                            <li><span data-bind="text: companyInfo.data().Country">[Country]</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="dnb-company-info-box dnb-widget">
                <div class="dnb-widget-inner">
                    <div class="dnb-widget-content">
                        <ul>
                            <li>Location Type: <span data-bind="text: companyInfo.data().LocationType"></span></li>
                            <li>D-U-N-S Number: <span data-bind="text: companyInfo.data().DunsNumber"></span></li>
                            <li><a target="_blank" data-bind="attr: { href: companyDetails.data().Website}, text: companyDetails.data().Website"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="dnb-company-info-box dnb-widget">
                <div class="dnb-widget-inner">
                    <div class="dnb-widget-content">
                        <ul>
                            <li>Founded <span data-bind="text: companyDetails.data().YearFounded"></span></li>
                            <li>Industry: <span data-bind="text: companyDetails.data().USSICText"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="dnb-widget-mini-row">
            <div class="dnb-widget dnb-widget-mini dnb-widget-mini-employees">
                <div class="dnb-widget-inner">
                    <div class="dnb-widget-header"><h3>Employees</h3></div>
                    <div class="dnb-widget-content">
                        <div class="dnb-widget-bignumber"><span data-bind="text: companyDetails.data().NumEmployees"></span></div>
                    </div>
                </div>
            </div>
            <div class="dnb-widget dnb-widget-mini dnb-widget-mini-revenue">
                <div class="dnb-widget-inner">
                    <div class="dnb-widget-header"><h3>Revenue</h3></div>
                    <div class="dnb-widget-content">
                        <div class="dnb-widget-bignumber"><span data-bind="text: formatRevenue(companyDetails.data().Revenue, companyDetails.data().RevenueUnits)"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->

    </div>

    <div class="container toggle-nav">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" id="toggleNavigation">
                    <li class="active"><a href="#infopane" id="infoTab" data-toggle="tab">Overview Info</a></li>
                    <li><a href="#riskpane" id="assessmentTab" data-toggle="tab">Risk Assessment</a></li>
                    <!-- <li><a href="#peoplepane" data-toggle="tab">People</a></li> -->
                </ul>
            </div>
        </div>
    </div>

 
    <div class="container main-container tab-content" id="addl-info">
        <div class="tab-pane active" id="infopane">
           <div class="dnb-widget-row dnb-widget-row-main">
                <div class="dnb-widget dnb-widget-description">
                    <div class="dnb-widget-inner">
                        <div class="dnb-widget-header-alt"  data-bind="css: { 'dnb-loading-offset': companyDetails.status() == 'loading' }"><h3>Description</h3></div>
                        <!-- ko if: companyDetails.status() == 'done' -->
                        <div class="dnb-widget-content">
                            <p><span data-bind="html: companyDetails.data().SummaryText"></span></p>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="dnb-widget">
                    <div class="dnb-widget-inner">
                        <div class="dnb-widget-header-alt"><h3>Location</h3></div>
                        <div class="dnb-widget-content" id="mapContainer">
                            <div id="map-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dnb-widget-row" id="imageDiv"></div>

        </div>
        <div class="tab-pane" id="riskpane">
            <div class="row">

                <!-- scores -->
                <!-- ko if: viabilityInfo.status() != 'initial' -->
                    <div class="col-sm-5">
                        <table class="table scores-table" id="scoresTable">
                            <tbody>

                            <!-- ko if: viabilityInfo.status() == 'loading' -->
                            <tr><td colspan="2"><div class="dnb-loading"></div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: viabilityInfo.status() == 'error' -->
                            <tr><td colspan="2"><div class="no-data">No Viability Data</div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: viabilityInfo.status() == 'done' -->
                            <tr>
                                <td><a href="#viabilityDetails" class="score-clicker" id="viabilityWell">Viability Score</a></td>
                                <td>
                                    <div class="dnb-risk-gradient">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:viabScoreToPct(viabilityInfo.data().ViabilityScore.ClassScore)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: viabilityInfo.data().ViabilityScore.ClassScore">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#portfolioDetails" class="score-clicker" id="portfolioWell">Portfolio Comparison</a></td>
                                <td>
                                    <div class="dnb-risk-gradient">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:viabScoreToPct(viabilityInfo.data().PortfolioScore.ClassScore)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: viabilityInfo.data().PortfolioScore.ClassScore">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#dataDepthDetails" class="score-clicker" id="dataDepthWell">Data Depth</a></td>
                                <td>
                                    <div class="dnb-risk-gradient">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:viabScoreToPct(viabilityInfo.data().DataDepthScore.Indicator)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: viabilityInfo.data().DataDepthScore.Indicator">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#companyProfileDetails" class="score-clicker" id="companyProfileWell">Company Profile</a></td>
                                <td>
                                    <div class="dnb-risk-gradient">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:viabScoreToPct(viabilityInfo.data().CompanyProfileScore.ProfileRating)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: viabilityInfo.data().CompanyProfileScore.ProfileRating">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko --> <!-- end viability done -->
                            <!-- ko if: fssInfo.status() == 'loading' -->
                            <tr><td colspan="2"><div class="dnb-loading"></div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: fssInfo.status() == 'error' -->
                            <tr><td colspan="2"><div class="no-data">No FSS Data</div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: fssInfo.status() == 'done' -->
                            <tr>
                                <td><a href="#fssDetails" class="score-clicker" id="fssWell">Financial Stress Score</a></td>
                                <td>
                                    <div class="dnb-risk-gradient" data-bind="if: fssInfo.status() == 'done'">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:fssScoreToPct(fssInfo.data().Score)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: fssInfo.data().Score">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if: ccsInfo.status() == 'loading' -->
                            <tr><td colspan="2"><div class="dnb-loading"></div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: ccsInfo.status() == 'error' -->
                            <tr><td colspan="2"><div class="no-data">No CCS Data</div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: ccsInfo.status() == 'done' -->
                            <tr>
                                <td><a href="#ccsDetails" class="score-clicker" id="ccsWell">Commercial Credit Score</a></td>
                                <td>
                                    <div class="dnb-risk-gradient" data-bind="if: ccsInfo.status() == 'done'">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:ccsScoreToPct(ccsInfo.data().Score)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: ccsInfo.data().Score">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if: paydexInfo.status() == 'loading' -->
                            <tr><td colspan="2"><div class="dnb-loading"></div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: paydexInfo.status() == 'error' -->
                            <tr><td colspan="2"><div class="no-data">No Paydex Data</div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: paydexInfo.status() == 'done' -->
                            <tr>
                                <td><a href="#paydexDetails" class="score-clicker" id="paydexWell">Paydex</a></td>
                                <td>
                                    <div class="dnb-risk-gradient" data-bind="if: paydexInfo.status() == 'done'">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:paydexScoreToPct(paydexInfo.data().Score)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: paydexInfo.data().Score">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if: serInfo.status() == 'loading' -->
                            <tr><td colspan="2"><div class="dnb-loading"></div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: serInfo.status() == 'error' -->
                            <tr><td colspan="2"><div class="no-data">No SER Data</div></td></tr>
                            <!-- /ko -->

                            <!-- ko if: serInfo.status() == 'done' -->
                            <tr>
                                <td><a href="#serDetails" class="score-clicker" id="serWell">Supplier Evaluation Risk</a></td>
                                <td>
                                    <div class="dnb-risk-gradient" data-bind="if: serInfo.status() == 'done'">
                                        <div class="dnb-risk-gradient-inner">
                                        </div>
                                        <div class="dnb-risk-gradient-badge-container" data-bind="{style:{left:serScoreToPct(serInfo.data().Score)}}">
                                            <div class="dnb-risk-gradient-badge">
                                                <div class="dnb-risk-gradient-badge-label" data-bind="text: serInfo.data().Score">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <!-- /ko -->
                            </tbody>
                        </table>

                    </div>
                    <!-- end scores column -->

                    <!-- details col -->
                    <div class="col-sm-7 dnb-widget">
                        <!-- Viability Details -->
                        <!-- Start Viability Rating Score -->
                        <!-- ko if: viabilityInfo.status() == 'done' -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="viabilityDetails">

                            <div class="dnb-widget-header"><h3>Viability Score</h3></div>

                                <div class="dnb-widget-content">                        
                                    <div class="dnb-badge-stack pull-right">
                                        <div class="dnb-badge" data-bind="style: { color: viabScoreToColor(viabilityInfo.data().ViabilityScore.ClassScore) }"></div>
                                        <div class="dnb-badge-label" data-bind="text: viabilityInfo.data().ViabilityScore.ClassScore">-</div>
                                    </div>
                                    <p class="score-description">The D&amp;B Viability Score is a predictive rating of the likelihood of going out of business or becoming inactive over the next 12 months compared to approximately 30 million US businesses in D&amp;B’s database, where <strong>1</strong> is the least likely to go out of business or become inactive and <strong>9</strong> is the most likely.</p>
                                    <p class="score-evaluation" data-bind="visible: viabilityInfo.data().ViabilityScore.ClassScore>=1 && viabilityInfo.data().ViabilityScore.ClassScore<=4">This company has a <strong>Low Risk</strong> of going out of business or becoming inactive over the next 12 months.</p>
                                    <p class="score-evaluation" data-bind="visible: viabilityInfo.data().ViabilityScore.ClassScore==5 || viabilityInfo.data().ViabilityScore.ClassScore==6">This company has a <strong>Moderate Risk</strong> of going out of business or becoming inactive over the next 12 months.</p>
                                    <p class="score-evaluation" data-bind="visible: viabilityInfo.data().ViabilityScore.ClassScore==7">This company has a <strong>Moderate to High Risk</strong> of going out of business or becoming inactive in the next 12 months.</p>
                                    <p class="score-evaluation" data-bind="visible: viabilityInfo.data().ViabilityScore.ClassScore==8 || viabilityInfo.data().ViabilityScore.ClassScore==9">This company has a <strong>High Risk</strong> of going out of business or becoming inactive in the next 12 months.</p>
                                    <button type="button" id="viabDetailsBtn" class="btn btn-info">How was this determined?</button>
                                </div>

                        </div>
                        <!-- End Viability Details -->

                        <!-- portfolio comparison details -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="portfolioDetails">
                            <div class="dnb-widget-header"><h3>D&amp;B Portfolio Comparison</h3></div>
                            <div class="dnb-widget-content">
                                <div class="dnb-badge-stack pull-right">
                                    <div class="dnb-badge" data-bind="style: { color: viabScoreToColor(viabilityInfo.data().PortfolioScore.ClassScore) }"></div>
                                    <div class="dnb-badge-label" data-bind="text: viabilityInfo.data().PortfolioScore.ClassScore">-</div>
                                </div>

                                <p class="score-description">The D&amp;B Portfolio Comparison is a predictive rating of 1-9 where 1 is the lowest probability of going out of business or becoming inactive over the next 12 months compared to other businesses within the same model segment and 9 is the highest probability of going out of business or becoming inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==9">Compared to other businesses within the same model segment, this company is <strong>very likely</strong> to go out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==8">Compared to other businesses within the same model segment, this company is <strong>likely</strong> to go out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==7">Compared to other businesses within the same model segment, this company is <strong>somewhat likely</strong> to go out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==6">Compared to other businesses within the same model segment, this company is <strong>slightly likely</strong> to go out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==5">Compared to other businesses within the same model segment, this company has an <strong>average likelihood</strong> of going out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==4">Compared to other businesses within the same model segment, this company is <strong>not likely</strong> to go out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==3">Compared to other businesses within the same model segment, this company is <strong>somewhat unlikely</strong> to go out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==2">Compared to other businesses within the same model segment, this company is <strong>unlikely</strong> to go out of business or become inactive.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().PortfolioScore.ClassScore==1">Compared to other businesses within the same model segment, this company is <strong>very unlikely</strong> to go out of business or become inactive.</p>
                                <button type="button" id="portfolioDetailsBtn" class="btn btn-info">How was this determined?</button>
                            </div>
                        </div>
                        <!-- End Portfolio Comparison Details -->

                        <!-- Data Depth Details -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="dataDepthDetails">
                            <div class="dnb-widget-header"><h3>D&amp;B Data Depth Indicator</h3></div>
                            <div class="dnb-widget-content">
                                <div class="dnb-badge-stack pull-right">
                                    <div class="dnb-badge" data-bind="style: { color: viabScoreToColor(viabilityInfo.data().DataDepthScore.Indicator) }"></div>
                                    <div class="dnb-badge-label" data-bind="text: viabilityInfo.data().DataDepthScore.Indicator">-</div>
                                </div>                                
                                <p class="score-description">The D&amp;B Data Depth Indicator is a descriptive rating of A-G and H-M. A-G is assigned on a “report card-like” scale where A is assigned to businesses with the highest level of predictive data including compete firmographics, extensive commercial trading activity, and comprehensive financial attributes and G is assigned to business with the lowest level of predictive data including basic identify data only. H-M are special categories that override the A-G rating giving our customer’s further insight when D&amp;B has confirmation that a business has met one of six risk conditions.</p>
                                <p class="score-description">The more comprehensive the data, the more precise the overall D&B Viability Rating becomes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='A'"><strong>A: </strong> We have Rich Firmographics, Extensive Commercial Trading Activity and Comprehensive Financial Attributes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='B'"><strong>B: </strong> We have Rich Firmographics, Extensive Commercial Trading Activity and Basic Financial Attributes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='C'"><strong>C: </strong> We have Rich Firmographics, Extensive Commercial Trading Activity and No Financial Attributes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='D'"><strong>D: </strong> We have Rich Firmographics, Partial Commercial Trading Activity and No Financial Attributes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='E'"><strong>E: </strong> We have Rich Firmographics, Sparse Commercial Trading Activity and No Financial Attributes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='F'"><strong>F: </strong> We have Basic Firmographics, Trace Commercial Trading Activity and No Financial Attributes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='G'"><strong>G: </strong> We have Basic Firmographics and No Financial Attributes.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='H'"><strong>Out of Business: </strong> i.e. This business is either Bankrupt(Chapter 7) or an officer or owner of the business confirmed they no longer operate and are out of business.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='I'"><strong>Unable to confirm Designation: </strong> D&B is unable to confirm active operation at a specific location due to the business showing limited to no business activity and multiple sign of inactivity (e.g. :Disconnected phone, Vacant address, No longer in a telephone directory etc.).</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='J'"><strong>Bankruptcy: </strong> Business has filed for chapter 11 bankruptcy and the plan of recognition is not yet confirmed.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='K'"><strong>High Risk (Severe Risk): </strong>  Business displays characteristics of misrepresentations.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='L'"><strong>Self reported DUNS supported Record: </strong> Business's request for DUNS number requires an investigation or confirmation of information from D&B.</p>
                                <p class="score-evaluation" data-bind="visible: viabilityInfo.data().DataDepthScore.Indicator=='M'"><strong>Business Deterioration (Severe Risk): </strong> Business displays characteristics of financial distress, including sign of current or imminent business failure or operating difficulty.</p>
                                <button type="button" id="dataDepthDetailsBtn" class="btn btn-info">How was this determined?</button>
                            </div>
                        </div>
                        <!-- End Data Depth Details -->

                        <!-- Company Profile Details -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="companyProfileDetails">
                            <div class="dnb-widget-header"><h3>D&B Company Profile</h3></div>
                            <div class="dnb-widget-content">
                                <div class="dnb-badge-stack pull-right">
                                    <div class="dnb-badge" data-bind="style: { color: viabScoreToColor(viabilityInfo.data().CompanyProfileScore.ProfileRating) }"></div>
                                    <div class="dnb-badge-label" data-bind="text: viabilityInfo.data().CompanyProfileScore.ProfileRating">-</div>
                                </div>
                                <p class="score-description">
                                    The D&amp;B Company Profile: descriptive rating A-X and Y-Z where A is the largest, most established businesses with complete, comprehensive data reported in the D&amp;B database and X is the smallest, youngest businesses with basic firmographic data only. Y is assigned to a branch location and Z is assigned to a business that is a subsidiary.
                                </p>
{#                                <button type="button" id="companyProfileDetailsBtn" class="btn btn-info">How was this determined?</button>#}
                            </div>
                        </div>
                        <!-- End Company Profile Details -->
                        <!-- End Viability Rating Scores -->
                        <!-- /ko -->

                        <!-- FSS Details -->
                        <!-- ko if: fssInfo.status() == 'done' -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="fssDetails">
                            <div class="dnb-widget-header"><h3>D&B Financial Stress Score</h3></div>
                            <div class="dnb-widget-content">
                                <div class="dnb-badge-stack pull-right">
                                    <div class="dnb-badge" data-bind="style: { color: fssScoreToColor(fssInfo.data().Score) }"></div>
                                    <div class="dnb-badge-label" data-bind="text: fssInfo.data().Score">-</div>
                                </div>
                                <p class="score-description">The US Financial Stress Score predicts the likelihood that a business will go bankrupt or close with outstanding debts within the next twelve months. Contrasted with previous releases, Version 7.1 utilizes more financial statement and ratio variables, to better predict impending financial distress.</p>
                                <p data-bind="visible: fssInfo.data().Detail" class="score-evaluation">
                                    <span data-bind="visible: fssInfo.data().Score == '1'">This business has a <strong>low</strong> risk of financial stress. Failure rate in this risk class is 0.03%.</span>
                                    <span data-bind="visible: fssInfo.data().Score == '2'">This business has a <strong>low</strong> risk of financial stress. Failure rate in this risk class is 0.09%.</span>
                                    <span data-bind="visible: fssInfo.data().Score == '3'">This business has a <strong>low</strong> risk of financial stress. Failure rate in this risk class is 0.24%.</span>
                                    <span data-bind="visible: fssInfo.data().Score == '4'">This business has a <strong>moderate</strong> risk of financial stress. Failure rate in this risk class is 0.84%.</span>
                                    <span data-bind="visible: fssInfo.data().Score == '5'">This business has a <strong>high</strong> risk of financial stress. Failure rate in this risk class is 4.70%.</span>
                                    <span data-bind="visible: fssInfo.data().Percentile"><br> <br> This business's Financial Stress Score is the same as or better than <strong><span data-bind="text: fssInfo.data().Percentile"></span>%</strong> of the businesses in D&B's data.</span>
                                </p>
                                <button type="button" id="fssDetailsBtn" class="btn btn-info">How was this determined?</button>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- End FSS Details -->

                        <!-- CCS Details -->
                        <!-- ko if: ccsInfo.status() == 'done' -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="ccsDetails">
                            <div class="dnb-widget-header"><h3>D&B Commercial Credit Score</h3></div>
                            <div class="dnb-widget-content">
                            <div class="dnb-badge-stack pull-right">
                                <div class="dnb-badge" data-bind="style: { color: ccsScoreToColor(ccsInfo.data().Score) }"></div>
                                <div class="dnb-badge-label" data-bind="text: ccsInfo.data().Score">-</div>
                            </div>                                                            
                            <p class="score-description">The Commercial Credit Score (CCS) predicts the likelihood of a business paying its bills in a severely delinquent manner (91 days or more past terms), obtaining legal relief from its creditors or ceasing operations without paying all creditors in full over the next 12 months.</p>
                                <p class="score-evaluation" data-bind="visible: ccsInfo.data().Score">
                                    <span data-bind="visible: ccsInfo.data().Score==1 || ccsInfo.data().Score==2">This business has a <strong>low risk</strong> of financial delinquency.</span>
                                    <span data-bind="visible: ccsInfo.data().Score==3">This business has a <strong>moderate risk</strong> of financial delinquency.</span>
                                    <span data-bind="visible: ccsInfo.data().Score==4 || ccsInfo.data().Score==5">This business has a <strong>high risk</strong> of severe delinquency.</span>
                                    <span data-bind="visible: ccsInfo.data().Percentile"><br> <br> This business's Commercial Credit Score is the same as or better than <strong><span data-bind="text: ccsInfo.data().Percentile"></span>%</strong> of the companies in D&B's database.</span>
                                </p>
                                <button type="button" id="ccsDetailsBtn" class="btn btn-info">How was this determined?</button>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- End CCS Details -->

                        <!-- Paydex Details -->
                        <!-- ko if: paydexInfo.status() == 'done' -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="paydexDetails">
                            <div class="dnb-widget-header"><h3>D&B Paydex Score</h3></div>
                            <div class="dnb-widget-content">
                                <div class="dnb-badge-stack pull-right">
                                    <div class="dnb-badge" data-bind="style: { color: paydexScoreToColor(paydexInfo.data().Score) }"></div>
                                    <div class="dnb-badge-label" data-bind="text: paydexInfo.data().Score">-</div>
                                </div>
                                <p class="score-description">The PAYDEX score is a numeric representation of bill-payment history as reported to D&amp;B by trade references, and is a reflection of whether a company pays its bills on time. A minimum of three experiences -- from two or more unique trade suppliers --are needed to calculate this score, which is a 1 to 100 (dollar-weighted) numerical indicator of payment performance as reported to D&amp;B, for several time periods – 3 month; 12 month and 24 month.</p>
                                <p class="score-evaluation" data-bind="visible: paydexInfo.data().Score >= 80">This business has a <strong>Low Risk</strong> of late payment (averages prompt to 30 days within terms).</p>
                                <p class="score-evaluation" data-bind="visible: paydexInfo.data().Score >= 50 && paydexInfo.data().Score <= 79">This business has a <strong>Medium Risk</strong> of late payment (averages 30 days or less beyond terms).</p>
                                <p class="score-evaluation" data-bind="visible: paydexInfo.data().Score <= 49">This business has a <strong>High Risk</strong> of late payment (averages 30 to 120 days beyond terms).</p>
                                <button type="button" id="paydexDetailsBtn" class="btn btn-info">How was this determined?</button>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- End Paydex Details -->

                        <!-- SER Details -->
                        <!-- ko if: serInfo.status() == 'done' -->
                        <div class="dnb-widget-inner dnb-details dnb-details-large" id="serDetails">
                            <div class="dnb-widget-header"><h3>D&amp;B Supplier Evaluation Risk</h3></div>
                            <div class="dnb-widget-content">
                                <div class="dnb-badge-stack pull-right">
                                    <div class="dnb-badge" data-bind="style: { color: serScoreToColor(serInfo.data().Score) }"></div>
                                    <div class="dnb-badge-label" data-bind="text: serInfo.data().Score">-</div>
                                </div>
                                <p class="score-description">The SER Rating ranges from 1 to 9, with 1 representing least likelihood of ceasing operations or becoming inactive and 9 representing highest likelihood of ceasing operations or becoming inactive.</p>
                                <p data-bind="visible: serInfo.data().Score==1" class="score-evaluation">This business has a low risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 1.28%.</p>
                                <p data-bind="visible: serInfo.data().Score==2" class="score-evaluation">This business has a low risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 2.14%.</p>
                                <p data-bind="visible: serInfo.data().Score==3" class="score-evaluation">This business has a low risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 3.06%.</p>
                                <p data-bind="visible: serInfo.data().Score==4" class="score-evaluation">This business has a moderate to low risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 3.74%.</p>
                                <p data-bind="visible: serInfo.data().Score==5" class="score-evaluation">This business has a moderate to low risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 5.37%.</p>
                                <p data-bind="visible: serInfo.data().Score==6" class="score-evaluation">This business has a moderate risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 8.02%.</p>
                                <p data-bind="visible: serInfo.data().Score==7" class="score-evaluation">This business has a moderate to high risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 9.27%.</p>
                                <p data-bind="visible: serInfo.data().Score==8" class="score-evaluation">This business has a moderate to high risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 12.96%.</p>
                                <p data-bind="visible: serInfo.data().Score==9" class="score-evaluation">This business has a high risk of ceasing operations or becoming inactive. The projected OOB rate for businesses in this range is 21.05%.</p>
                                <button type="button" id="serDetailsBtn" class="btn btn-info">How was this determined?</button>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- End SER Details -->
                    </div>
                    <!-- end details col -->
                <!-- /ko --> <!-- end scores -->
            </div>
        </div>

        <div class="tab-pane" id="peoplepane"></div>
    </div><!-- tab-content -->

    <!-- /ko -->


    <div class="container" id="footer">
        <hr/>
        <p class="text-muted" style="text-align: center;">Developed by <a href="mailto:sparklab@dnb.com">SparkLab</a> - the D&amp;B Customer Experience Lab</p>
    </div>

    <!-- Start Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modalTitle"></h4>
          </div>
          <div class="modal-body" id="modalBody">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}lib/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}lib/knockout/3.0.0/knockout.js"></script>
    <script src="{{ STATIC_URL }}lib/handlebars/handlebars-v1.3.0.js"></script>
    <script src="{{ STATIC_URL }}lib/twitter_typeahead/typeahead.bundle.js"></script>
    <script src="{{ STATIC_URL }}lib/swipebox/jquery.swipebox.min.js"></script>
    <script src="{{ STATIC_URL }}credit_widget/js/dnb_utilities.js"></script>
    <script> var direct2_proxy = '{% url 'direct2_proxy' '' %}'; </script>
    <script src="{{ STATIC_URL }}credit_widget/js/credit_widget.js"></script>
  </body>
</html>